import { Component } from '@angular/core';

@Component({
  selector: 'recruit-supplier-<%= dasherize(name) %>',
  templateUrl: './<%= dasherize(name) %>.html',
  styleUrls: ['./<%= dasherize(name) %>.scss'],
})
export class <%= classify(module) %><%= classify(name) %>Component {}
