import { Component } from '@angular/core';
import { <%= classify(name) %>Facade } from './<%= dasherize(name) %>-facade';

@Component({
  selector: 'recruit-supplier-<%= dasherize(name) %>',
  template: `<router-outlet></router-outlet>`,
})
export class <%= classify(name) %>Component {
  constructor(private facade: <%= classify(name) %>Facade) {
    this.facade.setInitialized();
  }
}
